html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


#universe {
    background: black;
    background-image: url(../images/Star.JPG);
    z-index: 2;
}

h1 {
    font-size: 3rem;
    color: #fff;
}

p {
    color: #fff;
    font-size: 2rem;
}

#sun {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 200px;
    background: orange;
    background: -webkit-radial-gradient(#f5c313, #ec7e08);
    background: -moz-radial-gradient(#f5c313, #ec7e08);
    background: -o-radial-gradient(#f5c313, #ec7e08);
    background: radial-gradient(#f5c313, #ec7e08);
    border-radius: 100%;
    box-shadow: 0 0 50px #f5c91a;
    animation: sunFire 1s infinite alternate;
}

#mercuryOrbit {
    border: solid 1px red;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    margin-top: -150px;
    margin-left: -155px;
    z-index: 4;
    border-radius: 100%;
    animation: spin 8s linear infinite;
}

#venusOrbit {
    border: solid 1px red;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    margin-top: -200px;
    margin-left: -205px;
    z-index: 4;
    border-radius: 100%;
    animation: spin 12s linear infinite;
}

#earthOrbit {
    border: solid 1px red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -350px;
    z-index: 4;
    height: 700px;
    width: 700px;
    border-radius: 100%;
    animation: spin 30s linear infinite;
}

#moonOrbit {
    border: solid 1px red;
    height: 160px;
    width: 150px;
    position: absolute;
    z-index: 4;
    top: 48%;
    left: -25px;
    margin-top: -58px;
    border-radius: 100%;
    animation: spin 5s linear infinite reverse;
}

#marsOrbit {
    border: solid 1px red;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    height: 900px;
    width: 900px;
    margin-top: -450px;
    margin-left: -450px;
    border-radius: 100%;
    animation: spin 40s linear infinite;
}

#jupiterOrbit {
    border: solid 1px red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -600px;
    margin-left: -600px;
    z-index: 4;
    height: 1200px;
    width: 1200px;
    border-radius: 100%;
    animation: spin 50s linear infinite;
}

#mercury {
    position: absolute;
    background: -webkit-linear-gradient(#f1e8e2e8, #4d4a4a);
    background: -moz-linear-gradient(#f1e8e2e8, #4d4a4a);
    background: -o-linear-gradient(#f1e8e2e8, #4d4a4a);
    background: linear-gradient(#f1e8e2e8, #4d4a4a);
    height: 25px;
    width: 25px;
    top: 35%;
    border-radius: 100%;
    animation: spin 10s linear infinite;
}

#venus {
    position: absolute;
    background: -webkit-linear-gradient(#f0eeede8, #7ea2a5);
    background: -moz-linear-gradient(#f0eeede8, #7ea2a5);
    background: -o-linear-gradient(#f0eeede8, #7ea2a5);
    background: linear-gradient(#f0eeede8, #7ea2a5);
    height: 28px;
    width: 28px;
    top: 35%;
    border-radius: 100%;
    animation: spin 12s linear infinite;
}

#earth {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    margin-left: 10px;
    animation: spin 10s linear infinite;
    border-radius: 100%;
}

#moon {
    height: 20px;
    width: 20px;
    background: gray;
    background: radial-gradient(#ddd, #999);
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 20px;
}

#mars {
    position: absolute;
    background: -webkit-linear-gradient(#e96a15e8, #ce3a27);
    background: -moz-linear-gradient(#e96a15e8, #ce3a27);
    background: -o-linear-gradient(#e96a15e8, #ce3a27);
    background: linear-gradient(#e96a15e8, #ce3a27);
    height: 75px;
    width: 75px;
    top: 35%;
    border-radius: 100%;
    animation: spin 10s linear infinite;
}

#jupiter {
    position: absolute;
    background: -webkit-linear-gradient(#a1cf7ce8, #6e430b);
    background: -moz-linear-gradient(#a1cf7ce8, #6e430b);
    background: -o-linear-gradient(#a1cf7ce8, #6e430b);
    background: linear-gradient(#a1cf7ce8, #6e430b);
    height: 100px;
    width: 100px;
    top: 35%;
    border-radius: 100%;
    animation: spin 20s linear infinite;
}

@keyframes sunFire {
    from {
        box-shadow: 0 0 50px #f5c91a;
    }

    to {
        box-shadow: 0 0 100px #f5c91a;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}